.background7 {
    width: 100vw;
    height: 100vh;
    /* background-color: #FFA500; */
    padding: 0px;
    overflow: hidden;
    background-color: rgb(245,245,220);
    position: relative;
}
.boxKosongPg7 {
    width: 100vw;
    height: 38vh;
    background-color: rgb(255,174,0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.box7 {
    background: beige;
    height: 60vh;
    /* margin-top: 10vh; */
}

.image7 img {
    height:38vh;
    width:auto;
    margin-top: 6vh;
    margin-left: 6vh;
}

.image7 {
    width: 100vw;
    height: fit-content;
}

.isi7 {
    width: 100vw;
    margin-left: 6vh;
    height: 15%;
    color: hsl(120, 100%, 20%);
}

.judul7 {
    padding:6vh 0vh 6vh 6vh;
    margin-bottom: 0px;
}
.judul7 p{

    margin-bottom: 0px ;
}
