.bold {
  font-family: "National2Bold";
}

.page17 {
  background-image: url(../../assets/page17.png);
  background-position: center;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  color: #056b48;
  display: flex;
}

.header17 {
  width: 32.5%;
  height: 18%;
  padding-top: 9%;
  padding-left: 10%;
}

.isi17 {
  margin-left: 0.5%;
  margin-top: 8%;
  height: 60%;
}
  .header17 {
    font-size: 0.833vw !important;
  }

  .kalimatisi171 {
    font-size: 3.953vw !important;
  }

  .kalimatisi172 {
    font-size: 0.833vw !important;
  }

  .kalimatisi173 {
    font-size: 1.11vw !important;
    margin-top: 1.5% !important;
    margin-left: 4% !important;
  }

