@font-face {
    font-family: "National2XBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 XBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "National2regular"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "National2Medium"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "National2Light"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Light.otf") format("opentype");
  }
  @font-face {
    font-family: "National2LightItalic"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Light\ Italic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "National2CondensedBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "National2CondensedRegular"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "National2CondensedMedium"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "National2bolditalic"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Bold Italic.otf")
      format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "National2Bold";
    src: local("National 2 Bold"), url("../../Fonts/National 2 Bold.otf");
  }

  @font-face {
    font-family: "National2CompressedBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Compressed\ Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "National2CompressedMedium"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Compressed\ Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "National2CompressedMediumItalic"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Compressed\ Medium\ Italic.otf") format("opentype");
  }


.background{
    width: 100vw;
    height: 100vh;
  position: relative;
  overflow: hidden;
    /* background-image: url(../../assets/Asset_5.png); */
    /* background-size: ; */
    /* background-repeat: repeat; */
    /* background-color: beige;
    padding: 0px;
    display: flex;
    overflow-x: hidden; */
    
}
.top> img {
  width: auto;
  height: 45vh; 
  position: relative;
  z-index: 1;
  /* opacity: 1 !important;  */
  animation: wiggleAnimation 1s ease-in-out infinite;
}
@keyframes wiggleAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.top {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.rotatedBackground {
  width: 100vw;
  height: 100vh;
  background-color: #F5F4D4;
  position : absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rotatedBackground > img {
  width: 116vw;
  height:auto;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  animation: rotateBackground 60s linear infinite; /* Adjust the duration as needed */
}


@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
