@font-face {
    font-family: "National2XBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 XBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "National2regular"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "National2Medium"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "National2Light"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Light.otf") format("opentype");
  }
  @font-face {
    font-family: "National2LightItalix"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Light\ Italic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "National2CondensedBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "National2CondensedRegular"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "National2CondensedMedium"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "National2light"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "National2bolditalic"; /* Specify the desired font-family name */
    src: url("../../Fonts/National 2 Condensed Bold Italic.otf")
      format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "National2Bold";
    src: local("National 2 Bold"), url("../../Fonts/National 2 Bold.otf");
  }

  @font-face {
    font-family: "National2CompressedBold"; /* Specify the desired font-family name */
    src: url("../../Fonts/National\ 2\ Compressed\ Bold.otf") format("opentype");
  }


.background{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/Asset_5.png);
    background-size: 100vw 100vh;
    background-color: beige;
    padding: 0px;
    display: flex;
    overflow-x: hidden;
}

.top img {
    width: auto;
    height: 45vh;  
}

.top {
    margin: auto;

}