.background4 {
    width: 100vw;
    height: 100vh;
    background-color: #0A6B48; 
    overflow: hidden;
    background-image:url('../../assets/Bg4.png');
    background-size: 100vw 100vh;
}

.content4 {
    width: 100vw;
    height: 97%;
    display: flex;
    font-weight: bold; 
}

.image4 img {
    width: 42vw;
    height: 60vh;
    margin-top: 15vh;
    margin-left: 8vh;
}

.tulisan4 {
    margin-top: 15vh;
    width: 60vw;
    color: rgb(9,107,71);
    margin-right: 8vw;
}


/* @media (max-width: 768px) {
    .tulisan4 {
        width: 80%; 
        margin-right: 5vw; 
        font-size: 0.8em; 
    }

    .image4 img {
        width: 80%; 
        height:  auto; 
        margin-top: 10vh; 
        margin-left: 0;
    }
} */