.wakatobiSection {
    background-image: url('../../../../../public/images/tengok-ragam-real/Page\ 6/bg\ pg6.png');
    background-size:100vw 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    position: relative;
    height: 100vh;
    z-index: 0;
}

.wakatobiSectionAtas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.wakatobiSectionAtas img {
    width:18vw;
}

.wakatobiSection span {
    font-family: National2CompressedMedium;

}

.wakatobiSection p {
    font-family:'National2CompressedMedium';
    color:rgb(245,244,212);
    text-align: center;
    font-size: 1.4584vw;

}
.wakatobiSection b {
    font-family: National2Black;
    font-weight: normal;

}
.wakatobiSection i {
    font-family: National2MediumItalic;
    font-weight: normal;

}
.wakatobiSectionBawah {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
    gap: 5vw;
}
.wakatobiSectionBawah >div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.wakatobiTitle p {
    -webkit-text-stroke-width:0.2083vw;
    -webkit-text-stroke-color:black;
    text-shadow:0px 0.46875vw 0px #000;
    font-size:calc((122 / 1920) * 100vw);
    font-family:'National2CondensedBlackItalic';
    line-height:0.9;
}

/* @media(max-height:500px){
    .wakatobiTitle p {
        -webkit-text-stroke-width:'4px';
        -webkit-text-stroke-color:'black';
        text-shadow:'0px  0px #000';
        font-size:'calc((122 / 1920) * 100vw)';
        font-family:'National2CondensedBlackItalic';
        line-height:'0.9'
    }
} */
