@font-face {
  font-family: "National 2 Condensed Bold Italic";
  src: local("National 2 Condensed Bold Italic"),
    url("../../Fonts/National 2 Condensed Bold Italic.otf");
}

.condensedBoldItalic {
  font-family: "National 2 Condensed Bold Italic";
}

.page19 {
  background-image: url(../../assets/page19.png);
  background-position: center;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  padding:1.5%;
  color: #f3f3d3;
}
.page19Section1 {
  height:16vh;
  width:33.6vw;
  display: flex;
  align-items: center;
  margin-left: 3vw;
}
.page19Section2 {
  height:19vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
.page19Section3 {
  height:31vh;
  width:50vw;
  display: flex;
  align-items: center;
  justify-content: start;
}
.page19Section4 {
  height:28.6vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
.kalimatisi192 {
  margin-left: 3vw;
  width:45.5vw;
}

.kalimatisi193 {
  color: #056b48;
  margin-left: 3vw;
}

.kalimatisi194 {
  float: right;
  margin-right: 14vw;
}

