.page15 {
  background-image: url(../../assets/page15.png);
  background-position: center;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  color: #056b48;
  display: flex;
}

.header15 {
  padding-top: 3%;
  padding-left: 15%;
  width: 30%;
  height: 10%;
  display: flex;
}

.isi15 {
  margin-left: 5%;
  /* height: 71%; */
}

.footer15 {
  color: #f3f3d3;
}

  .header15 {
    font-size: 0.83vw;
  }

  .kalimatisi151 {
    font-size: 0.83vw;
  }

  .kalimatisi152 {
    font-size: 3.958vw;
  }

  .kalimatisi153 {
    font-size: 1.11vw;
  }

  .footer15 {
    font-size: 1.11vw;

  }


@media (min-width: 768px) {
  .footer15 {
    font-size: 1.11vw;
    margin-top: 12vh;
  }
}