* {
    margin: 0;
    padding: 0;
}

.ilus1 {
    grid-area: ilus1;
    padding:calc(100/1920*100vw) 0px;
}
.ilus2 {
    grid-area: ilus2;
    padding:5% 0% 3.5% 0%;
    width:114% !important;
    margin-top: 2.5vh;
    margin-left: -0.5vw;
}
.ilus1:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;

}
.ilus2:hover {
    transform: scale(1.1) !important;
    transition: 0.5s;
    cursor: pointer;
}



.ilus3 {
    grid-area: ilus3;
    margin-top: -3%;
    padding:0% 2% 3% 2%;
}
.ilus4Frame {
    grid-area: ilus4Frame;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    border-right:1 black solid ;
    /* margin-top: 10%; */
    margin-bottom: 0.8vh;
}

.ilus4 {
    width:24vw;
    height: 24vw;
    margin-left: -10%;
    margin-top: 4%;
}
.ilus5 {
    width:26vw;
    height: 24vw;
    margin-top:4%;
    margin-right: -18%;
    aspect-ratio: 1/1;
}
.ilus3:hover, .ilus4:hover, .ilus5:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.pelestariPart2 {
    background-image: url("../../../../public/images/lima-pelestari/PAGE2.png");
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pelestariContainer {
    background-image: url("../../../../public/images/lima-pelestari/pg2-01.png");
    background-size: 100% 100%;
    display: grid;
    column-gap: 3.75%;
    /* overflow: hidden; */

    grid-template-areas: 'ilus1 ilus2 ilus3'
                         'ilus1 ilus4Frame ilus4Frame';
    grid-template-columns: 35% 35% 22.2%
                             ;
    grid-template-rows: 40% 60%;
    width:60vw;
    height: 80vh;
    z-index: 1;
}
.shadowPelestariContainer {
    position:absolute;
    background-image: url("../../../../public/images/lima-pelestari/pg2-02.png");
    background-size: 100% 100%;
    display: grid;
    column-gap: 3.75%;
    top: 50%;
    left: 50%;
    transform: translate(-48.7%, -48%);

    grid-template-areas: 'ilus1 ilus2 ilus3'
                         'ilus1 ilus4Frame ilus4Frame';
    grid-template-columns: 35% 35% 22.2%
                             ;
    grid-template-rows: 40% 60%;
    width:60vw;
    height: 80vh;
    z-index:0;
}
.ilus_img {
    width: 100%;
    height: auto;

    /* object-fit: cover; */
}

.ilus2 {

}