@font-face {
    font-family: 'National2 Bold'; 
    src: url('../../Rubrik7/Fonts/National\ 2\ Bold.otf') format('woff');
}
@font-face {
    font-family: 'National2 Condensed Bold';
    src: url('../fonts/National\ 2\ Condensed\ Bold.otf') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'National2 Regular';
    src: url('../fonts/National\ 2\ Regular.otf') format('woff');
}
@font-face {
    font-family: 'National2 Compressed Medium';
    src: url('../fonts/National\ 2\ Condensed\ Medium.otf') format('woff');
}


.part4Section {
    background-image: url('../../../../public/images/lima-pelestari/BG_PAGE4.png');
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.textAtas{
    height:fit-content;
    width:fit-content;
    margin-top: 50vh;

    margin-right: 12%;
}
.part4Section :nth-child(2) > img{
    width:23.5vw;
    height:auto;
    margin-top: 30vh;
}
.part4Section p {
    font-size: 1.25vw;
    text-align: center;
    color:rgb(239,79,84);
    font-family: 'National2 Regular';
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
.part4Section b {
    font-family: 'National2 Bold';
}
.part4Section em {
    font-family: 'National2 Compressed Medium';
}