.page18 {
  background-image: url(../../assets/page18.png);
  background-position: center;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  color: #f3f3d3;
  /* padding-top: 3vh; */
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
}
.page18SectionAtas {
  height: 76vh;
  gap:7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page18SectionBawah {
  height: 24vh;
  display: flex;
  align-items: center;
}
.kalimatisi183 {
  color: #ed5455;
  margin-left: 25vw;
}

