@font-face {
  font-family: "National2XBold"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ XBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2regular"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Regular.otf") format("opentype");
}
@font-face {
  font-family: "National2Medium"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Medium.otf") format("opentype");
}
@font-face {
  font-family: "National2MediumItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Medium\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "National2Light"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Light.otf") format("opentype");
}

@font-face {
  font-family: "National2LightItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Light Italic.otf") format("opentype");
}
@font-face {
  font-family: "National2LightItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Light\ Italic.otf") format("opentype");
}

@font-face {
  font-family: "National2CondensedBold"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Condensed Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2CondensedRegular"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Condensed Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "National2CondensedMedium"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Condensed Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "National2CondensedMediumItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Condensed\ Medium\ Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "National2BoldItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National 2 Condensed Bold Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "National2Bold";
  src: local("National 2 Bold"), url("../../../public/Fonts/National 2 Bold.otf");
}

@font-face {
  font-family: "National2CompressedBold"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Compressed\ Bold.otf") format("opentype");
}
@font-face {
  font-family: "National2CompressedMedium"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Compressed\ Medium.otf") format("opentype");
}
@font-face {
  font-family: "National2CompressedMediumItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Compressed\ Medium\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "National2CompressedXLightItalic"; /* Specify the desired font-family name */
  src: url("../../../public/Fonts/National\ 2\ Compressed\ XLight\ Italic.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;

}

.page5 p {
  margin: 0px;
}
.page5 {
  height: 100vh;
  width: fit-content;
  overflow: hidden;

}
.page {
  /* height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center; */


}

.page> img {
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content:center;
}

.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: between;
}

.page4no3-images > * {
  transform: scale(0.8);
}

.detail-text {
  width: 700px;
}
.bold-hero-img {
  width:900px;
}

.bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 0;

  object-fit: cover;

}

.bg-img-sidescroll {
  height: 100vh;
  width: 200vw;
  top:0px;
  left:0px;
  z-index: -1;
  position: relative;

  object-fit: cover;

}



.detail-text-2 {
  width: 450px;
}
.detail-text-3 {
  width: 465px;
}

.text-section {
  justify-content: space-around;
  gap:20px;
}

.halobali {
  width: 1155px;
}

.text-section {
  margin-top: 40px;
}

.sidescroll-page {
  height: 100vh;
  
  overflow-y: hidden;
  display: flex;
  flex-direction: row;

  /* background: url("../public/images/tengok-ragam-real/Page 1/bg pg1.png") center/cover fixed; */
  /* background-size: cover;
  background-position: center; */  
}
.content-preview {
  cursor:pointer;
}
.sidescroll-content {
  position: relative;
  min-width: 200vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;

}
.sidescroll-content-page {
  width: 100vw;
  
}

.sidescroll-content-desc {
  text-wrap: wrap;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin-top: 2vh;
}
.sidescroll-content > .content-preview {
  position: absolute;
  top:0;
  left:0;
  height: 100%;


}

.sidescroll-hero {
  position: relative;
  width: 200vw;
  height: 100vh;
}

.master {
}

.master-left {
  width: 180vw;
  height:100vh;
  /* background-color: red; */
}

.empty {
  height: 50vh;
  width: 100vw;
  padding: 20px;
}

.empty-pg5 {
  /* padding: 5vw; */
}

.pg5-content-list {
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  
}

.content-preview {
  height: 100%;
  width: 150px;
  transition: 1s;
}
.page5-hero-text {
  position: absolute;
  z-index: 1;
}
.page5-hero-text img {
  width:50vw;
  height: auto;
  margin-left: 5vw;
}
#pg5-judul {
  transform: scale(0.8);
}

.sidescroll-content {
  color:white;
}

.sidescroll-content-desc {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.sidescroll-content-hero {
  text-align: center;
  max-width: 500px;
}