.background1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/BgPage1.png);
    background-size: 100vw 100vh;
    background-position: center;
    padding: 0px;
    display: flex;
    overflow-x: hidden;
}
