:root {
  --primary: rgb(244, 242, 211);
  --secondary: rgb(251, 168, 43);
}

@font-face {
  font-family: MyriadPro;
  src: url(./Assets/font/MyriadPro-Regular.otf);
}

@font-face {
  font-family: National2;
  src: url(./Assets/font/National\ 2\ Regular.otf);
}

@font-face {
  font-family: National2;
  src: url(./Assets/font/National\ 2\ Medium.otf);
  font-weight: lighter;
}

@font-face {
  font-family: National2;
  src: url(./Assets/font/National\ 2\ Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: National2;
  src: url(./Assets/font/National\ 2\ XBold.otf);
  font-weight: bolder;
}

@font-face {
  font-family: National2Black;
  src: url(./Assets/font/National\ 2\ Black.otf);
}

@font-face {
  font-family: National2Narrow;
  src: url(./Assets/font/National\ 2\ Narrow\ Bold.otf);
}

@font-face {
  font-family: National2Condensed;
  src: url(./Assets/font/National\ 2\ Condensed\ Regular.otf);
}

@font-face {
  font-family: National2Condensed;
  src: url(./Assets/font/National\ 2\ Condensed\ Bold.otf);
  font-weight: bold;
}

.mainbg {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  /* height: 25vh; */
  position: relative;
  overflow: hidden;
}

/* @media (max-width: 48em) {
  .mainbg {
    height: 23vh;
  }
}

@media (min-width: 49em) and (max-width: 64em) {
  .mainbg {
    height: 40vh;
  }
}

@media (min-width: 65em) and (max-width: 82em) {
  .mainbg {
    height: 70vh;
  }
} */

.mainbg h1 {
  font-family: National2CondensedBold;
  font-size: calc(143.75/1920*100vw);
  color: var(--primary);
  -webkit-text-stroke-width: 0.5vh;
  -webkit-text-stroke-color: black;
}

.mainbg h1 i {
  color: var(--secondary) !important;
}

.titleCreator h3 {
  font-family: MyriadPro;
  color: var(--primary);
  font-size: 4vh;
  display: flex;
  align-items: center;
}

.titleCreator span {
  display: inline-block;
  text-align: center;
  font-size: 2vh;
  margin-right: 10px;
}

.bgkoin {
  position: relative;
  width: 31.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgkoin:first-child {
  background: #ffaf00;
}

.bgkoin:nth-child(3) {
  background: #ef4f55;
}

.bgkoin:last-child {
  background: #0c6b4a;
}

.spacerkoin {
  width: 3.5%;
  height: 100%;
  background: #f4f4d7;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.gariskoin {
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: 1;
}

.koin {
  height: 40%;
  z-index: 2;
}

.wrapperkoin {
  width: 75%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: fit-content;
}

.headerkoin {
  margin-top: 30%;
  font-size: 23vh !important;
  font-family: National2 !important;
  font-weight: bold;
}

.tekskoin {
  min-height: 38vh;
  font-size: 3.5vh;
  color: var(--primary);
  font-family: National2;
  font-weight: MyriadPro !important;
  text-align: justify;
}

.titleCreator img {
  height: 100%;
  z-index: 2;
}

.leftDecoration,
.rightDecoration {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.leftDecoration {
  left: 0;
}

.rightDecoration {
  right: 0;
}

.whiteleftbox {
  position: absolute;
  left: 0;
  width: 4%;
  height: 100%;
  background: #f4f4d7;
  border-right: 5px solid black;
}

.whiterightbox {
  position: absolute;
  right: 0;
  width: 4%;
  height: 100%;
  background: #f4f4d7;
  border-left: 5px solid black;
}

.textwrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 2;
}

.mirrored {
  /* transform: scaleX(-1); */
  transform: rotateX(180deg);
}

.merge {
  position: relative;
  margin-top: -5px;
}

.merge img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
}

.doubleBlock {
  height: 40.9%;
  width: 21vw;
}

.bottomBlocks {
  margin-bottom: 2px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  /* background: black; */
}

.bottomBlocks img {
  height: 20vh;
  width: auto;
  z-index: 5;
}

.singleBlock {
  height: 21%;
  width: auto;
  z-index: 2;
}

.props {
  height: inherit;
  width: auto;
  object-fit: contain;
}

.penulis {
  width: 65%;
  font-size: 7.8vh !important;
  -webkit-text-stroke-width: 0.3vh !important;
  margin-bottom: 2%;
}

.teks {
  width: 55%;
  height: 65%;
  color: var(--primary);
  font-family: MyriadPro;
  font-size: 3vh;
  margin-right: 8%;
  line-height: 130%;
}

.textSection {
  display: flex;
  align-items: start;
  margin-bottom: 2%;
}

.textSection img {
  margin-top: 1.5%;
  margin-right: 17px;
  height: 5px;
  width: auto;
}

@media screen and (min-width: 64em) {
  .textSection img {
    height: 10px;
  }
}

.teks .noBullet img{
  visibility: hidden;
}

.teks .unique {
  font-family: National2;
  font-weight: bold;
}

.teks span {
  -webkit-text-stroke-width: 0.12vh;
  -webkit-text-stroke-color: black;
  color: var(--secondary);
}

.regularFont {
  color: inherit !important;
  font-family: MyriadPro !important;
  font-weight: normal !important;
}

.black {
  color: black;
}

.same {
  color: inherit !important;
  font-weight: bold !important;
}

.bolderText {
  color: inherit !important;
  font-weight: bolder !important;
}

.primary {
  color: var(--primary) !important;
}