* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
}

.page {
  min-height: 100vh;
  width: 100vw;

}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content:center;
}

.justify-start {
  justify-content: start;
}

.page4no3-images > * {
  transform: scale(0.8);
}
