body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-aos=zoom-out-custom]{
  transform: scale(1.8);
}

[data-aos=zoom-out-custom].animated {
  transform: scale(1);
}

[data-aos=fade-right-custom] {
  transform: translate3d(-60vw,0,0);
}
[data-aos=fade-left-custom] {
  transform: translate3d(60vw,0,0);
}
[data-aos=fade-up-right-custom] {
  transform: translate3d(-20vw,20vw,0);
}
[data-aos=fade-up-pop] {
  transform: translate3d(0, 40vh, 0);
}
[data-aos=fade-up-pop].animated {
  transform: translate3d(0, 0, 0);
}